/*  your css code here. If applicable */
.head{
	text-align:center;
}
.flex{
	display:flex;
	flex-direction:column;
	section{
		display:flex;
		flex-direction:column;
	}
	img{
		height:200px;
		width:250px;
	}
	
}